<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="LoginTest">
        <classes>
            <class name="ru.beru.LoginTest"/>
        </classes>
    </test>
    <test name="ChangeCityTest">
        <parameter name="cityName" value="Хвалынск"/>
        <classes>
            <class name="ru.beru.ChangeCityTest"/>
        </classes>
    </test>
    <test name="DeliveryTest">
        <classes>
            <class name="ru.beru.DeliveryTest"/>
        </classes>
    </test>
</suite>